<form class="form-forfait">
    <mat-form-field>
        <mat-label>Destination</mat-label>
        <input matInput placeholder="Destination" value="destination">
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Ville de de depart</mat-label>
        <input matInput placeholder="villedepart" value="villedepart">
    </mat-form-field>   

    <mat-form-field>
        <mat-label>Hotel</mat-label>
        <input matInput placeholder="Hotel" value="Hotel">
    </mat-form-field>   

    <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Adresse" value="Adresse">
    </mat-form-field>   

    
    <mat-form-field>
        <mat-label>Nombre de chambres</mat-label>
        <input matInput placeholder="Hotel" value="Hotel">
    </mat-form-field>   

    
    <mat-form-field>
        <mat-label>Caracteristiques</mat-label>
        <input matInput placeholder="Hotel" value="Hotel">
    </mat-form-field>   

    
    <mat-form-field>
        <mat-label>Date de depart</mat-label>
        <input matInput placeholder="Hotel" value="Hotel">
    </mat-form-field>   

    
    <mat-form-field>
        <mat-label>Date de retour</mat-label>
        <input matInput placeholder="Hotel" value="Hotel">
    </mat-form-field>   

    
    <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput placeholder="Hotel" value="Hotel">
    </mat-form-field>   
</form>