<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>
          <h5>destination:{{forfait.destination | lowercase}} de {{forfait.villeDepart}}</h5>
          <h1>{{forfait.hotel.nom| uppercase}} </h1>
          <h4>{{forfait.hotel.nombreEtoiles}} etoiles </h4>
        </mat-card-title>
      <mat-card-subtitle>
        <p>nombre de chambres:{{forfait.hotel.nombreChambres}} </p>
        <p>{{forfait.hotel.caracteristiques}} </p></mat-card-subtitle>
      <img mat-card-xl-image src="{{forfait.hotel.image}}" >
    </mat-card-title-group>
    <mat-card-content>
        <p>Depart: {{forfait.dateDepart}}</p>
        <p>Retour: {{forfait.dateRetour}}</p>
        <div *ngIf="forfait.rabais; else elseBlock">
          <p class="textebarre">{{forfait.prix}}$</p>
          <p>{{forfait.prix-forfait.rabais}}$</p>
          <p>Rabais de : {{forfait.rabais}}$</p>
        </div>
         <ng-template #elseBlock>
          <p>tarif: {{forfait.prix}}</p>
        </ng-template>
    </mat-card-content>
  </mat-card>