<table mat-table #tableForfaits [dataSource]="forfaits">
<!-- Sous-Formulaire -->

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let forfait">
                <form #forfaitFormEdition="ngForm" id="forfaitFormEdition" (ngSubmit)="forfaitFormEdition.form.valid && 
    onEdit(forfaitFormEdition)">
                    <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
                        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.hotel.nom" matInput required minlength="2" 
    maxlength="50" name="nomEdition" #nomEdition="ngModel">
                        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) && 
    nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
                        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) && 
    nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
                        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) && 
    nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
                    </mat-form-field>
                </form>
                <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.hotel.nom}}</span></ng-template>
            </td>
        </ng-container>
 

<!-- Liste des hotels -->
    <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom de l`hotel</th>
        <td mat-cell *matCellDef="let forfait">{{forfait.hotel.nom}}</td>
    </ng-container>

    
    <!--Edition et Suppression -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let forfait" class="boutonsAction">
            <button *ngIf="(selectedForfait && selectedForfait === forfait);else editButton;" color="primary" form="forfaitFormEdition" 
    mat-button><i class="material-icons">done</i></button>
            <ng-template #editButton>
                <form (ngSubmit)="onSelect(forfait)">
                    <button mat-button><i class="material-icons">edit</i></button>
                </form>
            </ng-template>
            <form (ngSubmit)="onDelete(forfait)">
                <button mat-button ><i class="material-icons">delete</i></button>
            </form>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
   <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

<!-- Ajouter un nom -->
<form #forfaitFormAjout="ngForm" id="forfaitFormAjout" (ngSubmit)="onAdd(tableForfaits, forfaitFormAjout);">
    <mat-form-field class="input-full-width">
        <input type="text" name="nom" required minlength="2" maxlength="40" [(ngModel)]="forfaits-voyages-2022.herokuapp.com/api" matInput #nom="ngModel" placeholder="Nouveau forfait voyage">
        <button matSuffix  type="submit" mat-icon-button color="primary" [disabled]="!forfaitFormAjout.form.valid"><i class="material-icons">ajout</i></button>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>
    <!-- Bouton pour l`edition -->
<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let forfait" class="boutonsAction">
        <button (click)="onSelect(forfait)" mat-button><i class="material-icons">edit</i></button>
        <button (click)="onDelete(forfait)" mat-button><i class="material-icons">delete</i></button>
    </td>
   </ng-container>
</form>


    <!-- Tableau de Bord -->

 